<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <img class="w3-display-middle w3-image w3-grayscale-max" alt="Light" height="100%" src="img/protect-internet.jpg">
        <h1 class="w3-display-topmiddle w3-center w3-white" style="font-family: 'Comic Sans MS', cursive, sans-serif;">Welcome to<br>CRETA NETWORKING</h1>
        <p class="w3-display-bottomright w3-white">Engineer of CRETA-Comp.</p>
    </body>
</html>